.theImg {
  display: block;
  position: relative;
  z-index: 2;

}

.AnmatedImg {
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  position: absolute;
  right: -5px;
  bottom: 2px;
  background-size: 400%;
  width: 200px;
  height: 200px;
  animation: glowing 20s linear infinite;
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
  filter: blur(5%);
  z-index: 1;
}
