* {
  font-family: Papyrus;
}

main {
  display: flex;
  flex-direction: row;
  margin: 0 0;
  max-width: 100%;
}

.pageContent {
  
  padding-top: 3rem;
  padding-bottom: 2rem;
}

:root {
  --primary: #3f2301;
  --secondary: #d69d00;
  --tertiary: #5a3301;
  --light: #fafafa;
  --dark: #000000;
  /* --darker: #1F3B60; */
  /* --alpha: rgba(255,255,255,.7); */
  --error: rgb(255, 0, 0);

  --spacing-one: calc(1rem * 0.5);
  --spacing-two: calc(1rem);
  --spacing-five: calc(2.5rem);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 500;
  margin: 5px 0;
  line-height: 1.25;
}

h1 {
  font-size: 5rem;
  margin: 50px 20px;
  text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.75rem;
}

h4 {
  font-size: 1.5rem;
}

h5 {
  font-size: 1.25rem;
}

h6 {
  font-size: 1rem;
}

p {
  font-size: 1.1rem;
  margin: 20px 0;
  line-height: 2rem;
}

a {
  color: var(--light);
  text-decoration: none;
  opacity: 0.5;
}

a:hover {
  opacity: 1;
  transition: all 0.2s ease-in-out;
}

.shadow {
  position: relative;
  height: 2rem;
  width: clamp(98, 100vw, 98.5vw);
  background: linear-gradient(to top, transparent 0%, rgb(0, 0, 0) 40%);
  z-index: 5;
 
}



header {
  border-top:    1px none  rgb(0, 0, 0) !important;
  border-right:  1px none rgb(0, 0, 0) !important;
  border-bottom: none !important;
  border-left:   1px none  rgb(0, 0, 0) !important;

  /* box-shadow: 8px 30px 10px -10px var(--dark); */
  z-index: 2;
  /* border-color: var(--dark); */
  border-style: solid;

}

.header {
  background: var(--dark);

  -webkit-box-shadow: 0 2px 0px 0px var(--dark);
  -moz-box-shadow: 0 2px 0px 0px var(--dark);
  box-shadow: 0 2px 0px 0px var(--dark);

  position: relative;
  overflow: hidden;
  z-index: 2;
  justify-content: center;
  padding: 0.5rem 0;
 
}

header a {
  color: var(--light);
}

button {
  font-size: 1rem;
  font-weight: 600;
  text-decoration: none;
  border-radius: 0.5rem;
  border: none;
  color: #fff;
  outline: none;
  cursor: pointer;
  margin: 0 1px;
  background-color: var(--tertiary);
  padding: 10px 15px;
  opacity: 0.7;
}

button:hover {
  opacity: 1;
}

button[disabled] {
  cursor: default;
  opacity: 0.8;
}

img {
  max-width: 100%;
}

span[role="img"] {
  cursor: default;
}

form {
  width: 40%;
}

input {
  margin: 10px 0;
  font-size: 1rem;
  padding: 0.25rem;
  width: 600px;
  border: 1px solid var(--dark);
  outline: none;
  border-radius: 3px;
  transition: box-shadow 0.2s;
}

input:focus {
  border: 1px solid var(--secondary);
  box-shadow: 0 0 0.25rem rgba(0, 0, 0, 0.5);
}

label {
  margin-right: 10px;
}

li {
  list-style: none;
}

header h1 {
  position: relative;
  z-index: 2;
}

header img {
  width: 70%;
  max-width: 70%;
 
}

ul.skills {
  line-height: 2rem;
}

ul.skills li {
  list-style-type: circle;
}

.footer {
  background-color: var(--primary);
  font-size: 48px;
  display: flex !important;
  justify-content: center;
  text-align: center;
}

.footer p {
  color: var(--light);
}
.footer a {
  color: var(--light);
  opacity: 0.5;
  margin: 10px 20px;
  transition: all 0.3s ease-in-out;
}

.footer a:hover {
  opacity: 1;
}

textarea {
  width: 590px;
  height: 200px;
  border: 3px solid #cccccc;
  padding: 5px;
  margin-top: 10px;
}

.container {
  width: 85%;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.flex-row {
  display: flex;
  flex-wrap: wrap;
}

.space-between {
  justify-content: space-between;
}

.flex-end {
  justify-content: flex-end;
}

.flex-center {
  justify-content: center;
}

.mx-1 {
  margin-right: var(--spacing-one);
  margin-left: var(--spacing-one);
}

.mx-2 {
  margin-right: var(--spacing-two);
  margin-left: var(--spacing-two);
}

.my-1 {
  margin-top: var(--spacing-one);
  margin-bottom: var(--spacing-one);
}

.my-2 {
  margin-top: var(--spacing-two);
  margin-bottom: var(--spacing-two);
}

.my-5 {
  margin-top: var(--spacing-five);
  margin-bottom: var(--spacing-five);
}

.px-1 {
  padding-right: var(--spacing-one);
  padding-left: var(--spacing-one);
}

.px-2 {
  padding-right: var(--spacing-two);
  padding-left: var(--spacing-two);
}

.py-1 {
  padding-top: var(--spacing-one);
  padding-bottom: var(--spacing-one);
}

.py-2 {
  padding-top: var(--spacing-two);
  padding-bottom: var(--spacing-two);
}

.card {
  width: 25%;
  text-align: center;
}

.project {
  position: relative;
  width: 100%;
  max-width: 500px;
  height: 300px;
  margin: 30px;
}

.project-bg {
  position: relative;
  width: 100%;
  height: 100%;
}

.project-text {
  color: var(--secondary);
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  padding: 50px;
  z-index: 900;
  opacity: 0;
  transition: all 0.5s ease-in-out;
}

.project-text:hover {
  background-color: var(--light);
  opacity: 1;
  border: 10px solid var(--secondary);
}

.project-text h3 {
  font-size: 2.5rem;
}

.project-text a {
  text-decoration: none;
  font-weight: bold;
  color: var(--dark);
  transition: all 0.3s ease-in-out;
}

.project-text a:hover {
  color: var(--darker);
}

.sidebar {
  z-index: 1;
  width: 20%;
  background-color: var(--primary);
  padding: 4rem 0 0 0;
  margin-top: -15px;
}

.sidebarlist {
  height: auto;
  text-align: center;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  padding-inline-start: 0 !important;
  padding: 0 clamp(1vw, 3vw, 3rem) !important;
}

/* .glow-on-hover #icon{
flex: 30%;
} */

.glow-on-hover #title {
  flex: 100%;
}

.glow-on-hover {
  width: 100%;
  height: 45px;
  border: none;
  outline: none;
  background-color: var(--tertiary);
  cursor: pointer;
  border-radius: 10px;
  list-style-type: none;
  display: flex;
  flex-direction: row;
  color: var(--light);
  align-items: center;
}

.glow-on-hover:before {
  content: "";
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

.glow-on-hover:active {
  color: var(--secondary);
}

.glow-on-hover:active:after {
  background: transparent;
}

.glow-on-hover:hover:before {
  opacity: 1;
}

.glow-on-hover:after {
  z-index: -1;
  content: "";
  position: absolute;

  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  border-radius: 10px;
}

@keyframes glowing {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.NavBarr {
  margin-top: 1rem;
  z-index: 1;
  position: relative;
  list-style-type: none;
}

.NavBarr span {
  font-size: clamp(1.5vw, 3vw, 2vw);
  color: var(--light);
  padding: 14px 0;
  justify-content: center;
}

@media (min-width: 1200px) {
  .NavBarr span {
    font-size: clamp(1.6vw, 2vw, 0.7vw);
  }
}
